{% extends 'admin/admin_base.html' %}
{% block content %}

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <strong>Add</strong> Tutorials
        </div>
        <div class="card-body card-block">
            <form method="post" enctype="multipart/form-data" class="form-horizontal">
                {% csrf_token %}
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="text-input" class="form-control-label">Title</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="text-input" name="title" value="{{ tutorial.title }}" placeholder="Title" class="form-control">
                        <small class="form-text text-muted">This is a help text</small>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="text-input" class="form-control-label">Video Link</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="text-input" name="video_link" value="{{ tutorial.video_link }}" placeholder="video url paste here" class="form-control">
                        <small class="form-text text-muted">This is a help text</small>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="textarea-input" class="form-control-label">Description</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <textarea name="description" id="textarea-input" rows="9" placeholder="Description" class="form-control">{{ tutorial.description }}</textarea>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">
                        Update
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
